<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <i class="bi bi-globe"></i>
            MyApp
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mes Chiens</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mes Chats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mes Eleveurs</a>
              </li>
            </ul>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear"></i>
                Gestion
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"><i class="bi bi-plus-circle"></i> Ajouter un animal</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-calendar"></i> Ajouter une visite</a></li>
              </ul>
            </div>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Animal, Eleveur, ..." aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Rechercher</button>
            </form>
          </div>
        </div>
      </nav>
</header>