<footer>
    <div class="bg-dark text-light py-2 mt-3 d-flex justify-content-end">
        <div class="border-end border-light me-2 px-2 d-flex align-items-center">
            <span>Copyrights du site</span>
        </div>
        <div class="d-flex">
            <button class="btn btn-outline-light p-2 me-2">
                <i class="bi bi-facebook"></i>
            </button>
            <button class="btn btn-outline-light p-2 me-2">
                <i class="bi bi-instagram"></i>
            </button>
            <button class="btn btn-outline-light p-2 me-2">
                <i class="bi bi-google"></i>
            </button>
            <button class="btn btn-outline-light p-2 me-2">
                <i class="bi bi-linkedin"></i>
            </button>
        </div>
    </div>
</footer>